.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Resets */ 

* {
  box-sizing: border-box;
}

body, h1, h2, p, ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%; 
}

/* ==================
   Colours
===================== */

:root {
  --dark-violet: hsl(256, 26%, 20%); /* hero bg, banner bg, footer a text, main-btn:hover text, banner:hover text */
  --grayish-blue: hsl(216, 30%, 68%); /* nothing, it's the .info icons but those icons already come w/ the color */ 

  --very-dark-violet: hsl(270, 9%, 17%); /* .info h1, h2, .header-btn, header-nav:hover text, social-icons:hover */ 
  --dark-grayish-violet: hsl(273, 4%, 51%); /* header nav li/a, .info p, footer nav li (not a). */ 
  --very-light-gray: hsl(0, 0%, 98%); /* header bg, main bg, hero text, banner text, banner btn text & border, main-btn:hover bg, banner:hover bg */ 
}

header, main {
  background: white;
}

footer {
  background: var(--very-light-gray); 
}


.hero, .banner {
  color: var(--very-light-gray);
  background: var(--dark-violet); 
}

.hero-title, .banner-title {
  color: var(--very-light-gray);
}

.card-body, footer .nav-item {
  color: var(--dark-grayish-violet);
}

.header-nav {
  background: var(--very-dark-violet);
}

header .nav-link {
  color: white;
}

header .header-btn {
  border: 1px solid white;
}

@media (min-width: 600px) {
  .header-nav {
    background: initial;
  }
  header .nav-link {
    color: var(--dark-grayish-violet);
  }
  header .header-btn {
    color: var(--very-dark-violet);
    border: 1px solid var(--very-dark-violet);
  }
}

.info-title, .card-title {
  color: var(--very-dark-violet);
}

.main-btn {
  color: var(--very-light-gray); 
  border: 1px solid var(--very-light-gray);
}

footer .nav-link {
  color: var(--dark-violet); 
}



/* Active States */ 

.nav-link, .btn, .social-link, .mobile-menu, .nav-close-btn {
  cursor: pointer;
}
.main-btn:hover {
  color: var(--very-dark-violet);
  background: var(--very-light-gray);
}

@media (min-width: 600px) {
  .nav-link:hover {
    color: var(--very-dark-violet);
  }  
}

.header-btn:hover {
  color: var(--very-light-gray);
  background: var(--very-dark-violet);
}

footer .nav-link:hover {
  text-decoration: underline var(--dark-violet); 
}

.social-link:hover svg path, .social-link:focus svg path {
  fill: var(--very-dark-violet);
}

/* mobile nav 
  color: var(--very-light-gray);
  background: var(--very-dark-violet);

  header-btn: border: 1px solid var(--very-light-gray); 
*/ 


/* ==================
   Typography
===================== */

/* General Styles */ 

html {
  font-size: 16px;
}

h1, h2 {
  font-family: 'DM Serif Display', serif;
}

li, a, p {
  font-family: 'Karla', sans-serif;
}

li, a {
  font-weight: 700;
}

body {
  text-align: center;
}

@media (min-width: 600px) {
  body {
    text-align: left;
  }
}

/* Main Content */ 

.hero-title, .info-title {
  font-size: 2.8em;
  font-weight: 400;
  line-height: 1;
}

@media (min-width: 600px) {
  .hero-title, .info-title {
    font-size: clamp(2.8rem, 0.55rem + 6vw, 4.3rem); 
    font-weight: 400;
    line-height: 1;
    margin-right: 0.5em;
  }  
}

.hero-body, .card-body {
  line-height: 1.6;
  margin: 1rem 0.2rem 2rem 0.2rem;
}

.card-title {
  font-weight: 400;
  font-size: 1.8rem;
}

.banner-title {
  font-size: 2.5em;
  font-weight: 400;
  line-height: 1;
}

@media (min-width: 600px) {
  .hero-body {
    margin-right: 1em;
  }
  .banner-title {
    font-size: 3.3em;
    font-size: clamp(2.5rem, 1.2027rem + 3.4595vw, 3.3rem);
  }
}

.btn {
  padding: 0.7em 1.5em;
  font-weight: 400;
  display: inline-block;
}

.header-btn {
  font-weight: 700;
}

.btn, footer .nav-item {
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

header .nav-item, header .header-btn {
  font-size: 1.4rem;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  header .nav-item, header .header-btn {
    font-size: initial;
  }
}

/* ==================
   Layout
===================== */

/* Global */ 

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 84vw;
  max-width: 1120px;
  margin: 0 auto;
}

.grid > * {
  grid-column: 1 / -1;
}

@media (min-width: 600px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: initial;
  }
}

.img-mobile-lrg, .img-desktop {
  display: none;
}

@media (min-width: 375px) {
  .img-mobile-lrg {
    display: inline-block;
    width: 100%;
  }
  .img-mobile-sml {
    display: none;
  }
}

@media (min-width: 600px) {
  .img-desktop {
    display: inline-block;
  }
  .img-mobile-sml, .img-mobile-lrg {
    display: none;
  }
}

@media (min-width: 600px) {
  .hero-img {
    order: 1;
    justify-self: end;
  }
}

/* Header */ 

header {
  position: relative;
  z-index: 3;
}
.header {
  grid-template-areas: 
    "logo right-col"
    "nav nav";
  align-items: center;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

@media (min-width: 600px) {
  .header {
    grid-template-areas: 
      "logo nav nav nav"
  }
}

.header-logo {
  grid-area: logo;
  justify-self: start;
}

.mobile-menu, .nav-close-btn {
  grid-area: right-col;
  justify-self: end;
}

.nav-close-btn {
  display: none;
}

.header-nav {
  grid-area: nav;
}

@media (min-width: 600px) {
  .mobile-menu, .nav-close-btn {
    display: none;
  }
}


/* Nav */ 

.header-nav {
  position: fixed;
  top: 76px; 
  right: 0;
  bottom: 0;
  left: 100%;
  width: 100vw;
  transform: translateX(0);
  transition: transform 100ms;

  padding-left: 8vw;
  padding-right: 8vw;
  padding-top: 1.3em;
}

header .nav-item {
  padding: 0.7em;
  margin: 0.7em;
}
header .nav-item:last-child {
  padding: 0.2rem;
}
header .header-btn {
  width: 100%;
}

@media (min-width: 600px) {
  .header-nav {
    position: initial;
    width: initial;
    padding: initial;
  }
  .header-nav .nav-list {
    display: flex;
    align-items: center;
  }
  .header-nav {
    justify-self: end;
  }
  header .nav-item {
    margin: initial;
    padding: initial;
    margin-right: 1.5em;
  }
  header .nav-item:last-child {
    margin-right: 0;
  }

  header .header-btn {
    width: initial;
  }  
}

.nav-open-nav {
  transform: translateX(-100%);
}

.nav-open-body {
  overflow: hidden;
}

.nav-open-mobile-menu {
  display: none;
}

.nav-open-close-btn {
  display: block;
}

/* Main */ 

/* Hero */ 

.hero {
  position: relative;
}

.hero::before {
  content: url(../images/bg-pattern-intro-right-mobile.svg);
  display: block;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  bottom: -180px;
  right: 0;
}

.hero-content {
  margin: 5.5em auto;
}

.hero-container {
  position: relative;
}

.hero-container::before {
  content: url(../images/bg-pattern-intro-left-mobile.svg);
  display: block;
  position: absolute;
  top: -4px;
  left: -40px;
  z-index: 2;
}

.hero-body {
  max-width: 400px;
}

.hero-img {
  position: relative;
  z-index: 8;
}

@media (min-width: 600px) {
  .hero-container::before {
    content: "";
  }
  .hero::before {
    content: url(../images/bg-pattern-intro-right-desktop.svg);
    display: block;
    position: absolute;
    right: 0;
    top: -60px;
    overflow: hidden;
  }
  .hero::after {
    content: url(../images/bg-pattern-intro-left-desktop.svg);
    display: block;
    position: absolute;
    left: 0;
    bottom: -340px;
  }

  .hero {
    margin-bottom: 10em;
  }
  .hero-content {
    grid-column: 1 / 3;
    margin: 7em 0;
  }
  .hero-img {
    grid-column: 3 / span 2;
    position: initial;
    margin-bottom: -200px;
    margin-top: 7em;
  }
  .hero-title::before {
    content: "";
    display: block;
    width: 9.5rem;
    height: 1px; 
    background: var(--very-light-gray);
    margin: 0 0 3rem 0;
  }

  .hero-body {
    max-width: 540px;
    margin-top: 1.5em;
    margin-left: 0;
  }
}

@media (min-width: 1150px) {
  .hero {
    margin-bottom: 19em;
  }
}

/* Info */

.info {
  margin: 9rem auto;
}

.info-title::before {
  content: "";
  display: block;
  width: 9.5rem;
  height: 1px; 
  background: var(--grayish-blue);
  margin: 0 auto 3rem auto;
}

.info-cards {
  margin-top: 5rem;
  margin-bottom: 6rem;
}

@media (min-width: 600px) {
  .info {
    margin-top: 0;
  }

  .info-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }  
  .info-title::before {
    content: "";
    display: block;
    width: 9.5rem;
    height: 1px; 
    background: var(--grayish-blue);
    margin: 0 0 3rem 0;
  }
}

.card-title {
  margin-top: 2.5rem;
}
.card-img {
  margin: 0 auto;
}

.card-body {
  max-width: 322px; 
}
@media (min-width: 600px) {
  .card-img {
    margin: initial;
  }
}

/* Banner */ 

.banner {
  padding: 4.5em 0;
  background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position: right top;
}

.banner-title {
  margin-bottom: 2.2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (min-width: 450px) {
  .banner-title {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media (min-width: 600px) {
  .banner {
    display: flex;
    align-items: center;
    padding: 4.5em 5.5em;
    justify-content: space-between;
    background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
    background-repeat: no-repeat;  
    background-position: right top;
    background-size: contain;
  }

  .banner-title {
    min-width: 50%;
    margin: 0;
    margin-right: 0.3em;
  }
}

@media (min-width: 954px) {
  .banner {
    background-size: initial;
  }
}

/* Footer */ 

footer {
  background-image: url(../images/bg-pattern-footer-mobile.svg);
  background-repeat: no-repeat;
}

footer {
  background-size: contain;
}

@media (min-width: 600px) {
  footer {
    background-image: url(../images/bg-pattern-footer-desktop.svg);
    background-repeat: no-repeat;
    background-size: initial;
  }
}

.footer-nav {
  padding: 5.5em 0;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 2em 0;
}

.row {
  display: grid;
  justify-items: center;
}
.row::after {
  content: "";
  display: block;
  width: 84vw;
  max-width: 1120px;
  height: 1px;
  background: rgba(131, 125, 135, 0.3);
}

@media (min-width: 600px) {
  .footer-nav {
    padding: 3em 0;
  }
  .row {
    align-items: center;
    justify-items: initial;
  }
  .footer-logo {
    grid-column: 1 / span 1;
    grid-row: 1;
  }
  .social-list {
    grid-column: -1;
    justify-self: end;
    grid-row: 1;
  }
  .footer-nav-list {
    grid-column: span 1;
  }
}

footer .nav-item {
  margin: 0.8rem 0;
}

footer .nav-item:first-child {
  margin: 2rem 0;
}

/* 
To do: 
  add bg pattern images 
*/ 